@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto&family=Roboto+Slab&display=swap');
body{
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.inner-students{
    padding-left: 120px;
    padding-right: 120px ;
    margin: auto;
    max-width: calc(1440px - 240px);
    background-color:#EFEFEF ;
    padding-top: 91px;
    padding-bottom: 111px;

}

.first-text{
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 101.38%;
    margin: 0px;
}

.main-text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;

}

.name{
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 101.38%;
}

.cate-info{
    display: flex;
}
.cate-review{
    margin-bottom: 10px;
    margin-top: 34px;
    background-color: white;
    width: 791px;
    border-radius: 30px;
    padding : 40px 45px 29px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
}

.face{
    position: relative;
    left: -15px;
}

@media screen and (max-width : 1279px){
    .inner-students{
        padding-left: 71px;
        padding-right: 71px;
        padding-top: 53px;
        padding-bottom: 64px;
        max-width: calc(1279px - 142px);
    }

    .first-text{
        font-size: 32px;
    }
    .main-text{
        font-size: 12px;
    }
    .name{
        font-size: 17px;
    }

    .cate-review{
        padding-top: 23px;
        margin-top: 42px;
        padding-left: 26px;
        padding-right: 26,6px;
        padding-bottom: 16px;
        margin-right: 302px;
        width: 458px;
    }

    .face{
        width: 110.04px;
        margin-right: 17px;
        position: relative;
        left: -8px;
    }
    .face-image{
        width: 100%;
    }

    .logo-image{
        width: 19px;
    }

}

@media screen and (max-width : 833px){
    .inner-students{
        padding-left: 21px;
        padding-right: 36px;
        padding-top: 42px;
        padding-bottom: 53px;
        max-width: calc(375px - 72px);
    }
    .under-inner{
        width: 100%;
        margin: auto;
    }

    .number{
        width: 100%;
        margin-bottom: 42px;
        margin-left: 15px;
    }

    .first-text{
        font-size: 26px;
    }
    .main-text{
        font-size: 10px;
    }
    .name{
        font-size: 14px;
    }

    .cate-review{
        padding-top: 18px;
        margin-top: 42px;
        padding-left: 21px;
        padding-right: 21px;
        padding-bottom: 13px;
        width: 81%;

    }

    .face{
        width: 80px;
        margin-right: 13px;
        position: relative;
        left: -8px;
    }
    .face-image{
        width: 100%;
    }

    .logo-image{
        width: 15px;
    }

}



