@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');

body {
    margin: 0;
    padding: 0;
}

.inner-m {
    width: 100%;
    max-width: calc(1440px - 240px);
    margin: auto;
    padding: 0 120px;
}